body {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: lightskyblue;
    border-bottom: 2px solid black;
    padding-top: 1em;
    margin-bottom: 3rem;
    text-align: center;
}

main {
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 3rem;
}

table {
    background-color: black;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

.form-control, .deleteButton {
    background-color: maroon;
    border-radius: 5px;
    color: white;
}

th, td {
    border-bottom: 1px solid black;
}

td {
    background-color: aliceblue;
}

#total {
    text-align: center;
}